{% extends 'main.html' %} {% load static %}


{% block content %}

<div class="pagetitle">
    <h1>Profile</h1>
</div>

<section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{{ user.image.url }}" alt="Profile" class="rounded-circle">
            <h2>{{ user.get_full_name }}</h2>
            <h3>{{ user.role.name }}</h3>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

              <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Overview</button>
              </li>

              <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" tabindex="-1" role="tab">Edit Profile</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">
                <h5 class="card-title">About</h5>
                <p class="small fst-italic">{{ user.about }}</p>
                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{ user.get_full_name }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{ user.phone }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                </div>

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">

                <!-- Profile Edit Form -->
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row mb-3">
                     <label for="id_image" class="col-md-4 col-lg-3 col-form-label">Image</label>
                     <div class="col-md-8 col-lg-9">
                       <input type="file" name="image" accept="image" class="form-control" id="id_image">
                     </div>
                  </div>
                  <div class="row mb-3">
                    <label for="id_first_name" class="col-md-4 col-lg-3 col-form-label">First name</label>
                    <div class="col-md-8 col-lg-9">
                      {{form.first_name}}
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="id_last_name" class="col-md-4 col-lg-3 col-form-label">Last name</label>
                    <div class="col-md-8 col-lg-9">
                      {{form.last_name}}
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="id_about" class="col-md-4 col-lg-3 col-form-label">About</label>
                    <div class="col-md-8 col-lg-9">
                       {{form.about}}
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="id_phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                    <div class="col-md-8 col-lg-9">
                      {{form.phone}}
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="id_email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      {{form.email}}
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
</section>

{% endblock %}